*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contrainer{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background: linear-gradient(
    90deg, blue, purple);
    padding: 14px;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu{
    list-style-type: none;
    display: flex;
    column-gap: 12px;
}